<h3>
  <table class="table-dark">
    <thead class= 'table'>
      <style>
        .discount_links {
      position: relative;
      height: 200px;
      width: 500px;
      overflow: auto;
      }
      .discount_links {
      display: block;
      }
      </style>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Percentage Discount</th>
        <th scope="col">Quantity Threshold</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @discounts.each do |discount| %>
      <tr>
        <th scope="row"><%= link_to "#{discount.name}", merchant_discount_path(@merchant.id, discount.id) %></th>
        <th scope="row"><%= discount.percentage%>%</th>
        <th scope="row"><%= discount.quantity_threshold%></th>
        <th scope="row"><%= button_to "Delete #{discount.name}", merchant_discount_path(@merchant.id, discount.id), {method: 'delete'}%></th>
      </tr>
      <%end%>
    </tbody>
  </table>
</h3>
