<h3>
<div class="holiday_table">
  <table class="table-dark">
    <thead class= 'table'>
      <style>
      </style>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @holidays.each_with_index do |holiday, idx| %>
      <tr>
        <div class="holiday_<%=idx%>">
          <th scope="row"><%= holiday.name%></th>
          <th scope="row"><%= holiday.date%></th>
          <th scope="row"><%= button_to "Create #{holiday.name} Discount", new_merchant_holiday_discount_path(@merchant, holiday.name), method: 'get' %></th>
        </div>
      </tr>
      <%end%>
    </tbody>
  </table>
</div></h3>
