<div class="header">
  <h2><%=@merchant.name%>'s Discounts<h2>
</div>

<div class="discount_links">
  <%= render 'bulk_discount_links'%>
</div>

<div class="upcoming_holidays">
  <h2>Upcoming Holidays<h2>
  <%= render 'upcoming_holidays'%>
</div>
