<div class="header">
<h2><%=@merchant.name%>'s Discounts<h2></div>

<div class="discounts">
  <%= render 'bulk_discounts'%>
</div>

<div class="upcoming_holidays">
  <h2>Upcoming Holidays<h2>
  <%= render 'upcoming_holidays'%>
</div>

<div class="create_discount">
  <%= link_to 'Create New Discount', new_merchant_discount_path(@merchant) %>
</div>
